<h1><%= @billboard.name %></h1>
<br />
<%= link_to "View Songs", billboard_songs_path(@billboard) %>
<br />
<%= link_to 'Back', billboards_path %>

<!-- Skipping this page for now and going straight to songs index.html.erb list--!>